
img {
    width: 50px;
}
main {
    display: grid;
    place-content: center;
    padding: 1rem;
    text-align: center;
}
a {
    padding: 5px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5rem;
    margin:2rem;
}

.flex{
    display: flex;
    align-items: center;
}